{% extends 'parent/base.html' %}
{% load jformat %}
{% block title %}Post Detail{% endblock %}

{% block content %}
    <h1>Post Detail</h1>
    <hr>
    <h2>{{Post.title}}</h2>
    <p>{{post.description | linebreaks }}</p>
    <h4>Author: {{post.author}}</h4>
    <h4>{{post.publish | jformat:'%Y/%m/%d - %H:%m'}}</h4>
    <hr>

    {% with comments.count as cm_count %}
        <div>
            {{ cm_count }} Comment{{ cm_count | pluralize}}
        </div>

        <div>
            {% for cm in comments %}
                <br>
                <hr>
                {{ cm.name }}
                {{ cm.body | linebreaks }}
                <hr>
            {% empty %}
                کامنتی وجود ندارد!
            {% endfor %}
        </div>
    {% endwith %}

    <form method="post" action="{% url 'blog:post_comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="افزودن کامنت">
    </form>
{% endblock %}