{% extends "parent/base.html" %}
{% load jformat %}
{% block title %}Create POST{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="افزودن پست">
    </form>

    {% if form.errors %}
        <h5>لطفا خطاهای زیر را اصلاح کنید!</h5>
        <br>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }}: {{ error }}
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif%}

    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
{% endblock %}